<div class="container">
  <form>
    <div class="form-group">
      <label for="updateDescription">Update item description</label>
      {{input value=item.description}}
    </div>
    <div class="form-group">
      <label for="updateCost">Update item cost</label>
      {{input value=item.cost}}
    </div>
    <div class="form-group">
      <label for="updateDetails">Update item details</label>
      {{input value=item.details}}
    </div>
    <div class="form-group">
      <label for="updateImage">Update image URL</label>
      {{input value=item.image}}
    </div>
    <button class="btn btn-primary" {{action 'updateItem1' item}}>Update Item</button>
  </form>
</div>
