#title, h1 {
  text-align: center;
  font-size: 60pt;
  font-weight: bold;
}

.navbar {
  margin: 10px;
}

body {
  font-family: monospace;
}

img {
  height: 200px;
  width: auto;
}

.item {
  border: solid red 1px;
  border-radius: 10px;
  padding-left: 20px;
  padding-bottom: 20px;
  box-shadow: 5px 5px 10px red;
}

.star-glyph {
  color: orange;
  font-size: 20px;
}
